<section>
  <div class="spacer">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <div class="row shop-listing">
            <table class="table shop-table"> <!--*ngIf="carts"-->
              <tr>
                <th class="b-0">Name</th>
                <th class="b-0 text-center">Price (RON)</th>
                <th class="b-0 text-center">Quantity</th>
                <th class="b-0 text-right">Total Price (RON)</th>
              </tr>
              <tr *ngFor="let item of isLoggedin ? carts.items : sessionCart">
                <td>{{ item.productId.name }}</td>
                <td class="text-center">{{ item.productId.price }}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="isLoggedin ? _increamentQTY(item.productId._id , 1) : _increamentSessionQTY(item.productId._id, item.productId.name, item.productId.price , 1)">+</button>
                  {{ item.quantity }}
                  <button class="btn btn-primary btn-sm"
                  (click)="(item.quantity > 1) ? isLoggedin ? _increamentQTY(item.productId._id, -1) : _increamentSessionQTY(item.productId._id, item.productId.name, item.productId.price , -1) : isLoggedin ? _removeProduct(item.productId._id) : _removeSessionProduct(item.productId._id, item.productId.name)">-</button>
                </td>
                <td class="text-right">
                  <h5 class="font-medium m-b-30">{{ item.total }}</h5>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="text-align: right;">Subtotal: {{ isLoggedin ? carts.subTotal : calcSubTotal() }} RON</td>
                <td colspan="4" style="text-align: right;">
                  <button class="btn btn-danger" (click)="_emptyCart()">Empty Cart</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
